{% extends "admin_base.html" %}
{% block title %}Edit Post{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="image">Upload New Image (Optional)</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/*">
    </div>
    <div class="form-group">
        <label for="pdf">Link to PDF</label>
        <input type="url" class="form-control" id="pdf" name="pdf" value="{{ post.pdf }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
