<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

   
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/styles.css') }}"
  />
 
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin_home.css') }}"
/>

    
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
 
    <nav class="navbar navbar-expand-lg navbar-teal-blue">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
        title="Toggle Navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Easy Link
            </a>
            <div class="dropdown-menu" aria-labelledby="homeDropdown">
              <a class="dropdown-item" href="/admin_home">Home</a>
              <a class="dropdown-item" href="/help">Help</a>
            </div>
          </div>
          <span class="search-icon" id="searchToggle">&#128269;</span>
        </div>
        
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" id="admin_home" href="/admin_home">Home</a>
    
          {% if 'admin_logged_in' in session %}
          <a class="nav-item nav-link" id="manage_nexus" href="/manage_nexus">Nexus</a>
          <a class="nav-item nav-link" id="manage_learners" href="/manage_learners">Learners</a>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage MySchool
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/manage_sectorA">Manage SectorA</a>
              <a class="dropdown-item" href="/manage_sectorB">Manage SectorB</a>
              <a class="dropdown-item" href="/manage_sectorC">Manage SectorC</a>
              <a class="dropdown-item" href="/manage_sectorD">Manage SectorD</a>
              <a class="dropdown-item" href="/manage_sectorE">Manage SectorE</a>
              <a class="dropdown-item" href="/manage_sectorF">Manage SectorF</a>
              <a class="dropdown-item" href="/manage_sectorG">Manage SectorG</a>
            </div>
          </div>
          
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage Exams
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/manage_questions">Manage Question Papers</a>
              <a class="dropdown-item" href="/manage_memo">Manage memo</a>
            </div>
          </div>
          
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="logout" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Pick Profile">
              <i class="fa fa-sign-out" aria-hidden="true"></i> <!-- Logout icon -->
            </a>
            <ul class="dropdown-menu" aria-labelledby="logout">
              <li>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}" aria-label="Individual Profile">
                  <i class="fa fa-user" aria-hidden="true"></i> <!-- Individual icon -->
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('admin_auth.adm_logout') }}" aria-label="Admin Profile">
                  <i class="fas fa-user-shield" aria-hidden="true"></i> <!-- Admin icon -->
                </a>
              </li>
            </ul>
          </div>
          
          {% else %}
          <a class="nav-item nav-link" id="adm_login" href="/adm_login">Login</a>
          <a class="nav-item nav-link" id="adm_signup" href="/admin_sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
    

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
     {% for category, message in messages %}
     {% if category == 'error' %}
     <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close alert">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>

     {% else %}

     <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close alert">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     {% endif %}
     {% endfor %}
    {% endif %} 
    {% endwith %}

    <div class="container content">
      {% block content %}
       {% endblock %}
    </div>

    <footer class="footer-teal-blue">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2024 TripleRnexus. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-md-right footer-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
            <a href="/about">About Us</a>
          </div>
        </div>
      </div>
    </footer>
    


    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
    

  </body>
</html>