{% extends "base.html" %}
{% block title %}engineer{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sectorA.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/video_grid.css') }}" />

<div class="title-container">
    <h2 class="page-title">Software Engineering</h2>
</div>

<div class="video-grid-container">
    
    <div class="video-item">
        <video width="100%" controls>
            <source src="{{ url_for('static', filename='videos/soft.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>Mmmmm Software Engineering</p>
    </div>

    <div class="video-item">
        <video width="100%" controls>
            <source src="{{ url_for('static', filename='videos/POD1.wav') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>Advanced Topics in Software Engineering</p>
    </div>

 
</div>

{% endblock %}
