{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<link
rel="stylesheet"
href="{{ url_for('static', filename='css/question.css') }}"
/>

<div class="title-container">
    <h2 class="page-title">Question Papers</h2>
</div>

<div id="question-posts">
    {% for post in posts %}
    <div class="question-post">
        <a href="{{ post.pdf }}" download>
            <img src="{{ url_for('static', filename='/uploads/' + post.image) }}" alt="Qustions Image">
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}